*.exe

# Visual studio
/Debug/
/Release/
/includes/
*.vcxproj*
*.user
*.filter
*.sln
*.suo
*.manifest
*.manifest.res
*manifest.rc
*res.res
*.idb
*.obj
*.tlog
*.lib
*.ipch
*.ilk
*.log
*.lastbuildstate
*.unsuccessfulbuild
*.pdb
*.db

# QtCreator / KDevelop
*.user
*.config
*.creator*
*.cflags
*.cxxflags
*.files
*.includes
*.kdev4
/.kdev4

# Other IDEs / misc
.vscode/
.vs/
*.sublime-*
*.project
*.cproject
*.settings
*.cbp
*.layout
*.gch
*.pyc
*.xcodeproj
*.plist
*.lproj
*.opensdf
*.sdf
